.list__container {
	margin: var(--spacing-medium) 0;
	padding: 0;
	list-style: none;
    column-count: 3;
}

.list__item {
    margin-bottom: var(--spacing-medium);
}

.list__item a {
	color: var(--color-black);
	text-decoration: none;
	text-align: center;
	cursor: pointer;
    display: inline-flex;
    flex-direction: row;
}

.person__photo {
	width: 152px;
	height: 208px;
	object-fit: cover;
	object-position: center center;
	border-radius: var(--border--radius-small);
}

.person__name {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0 var(--spacing-small);
    color: var(--color-white);
    text-shadow: var(--text-shadow-black);
}

.person__comment {
	color: var(--color-white);
	text-shadow: var(--text-shadow-black);
}

@media screen and (max-width: 1000px) {
    .list__container {
        column-count: 2;
    }
    
}

@media screen and (max-width: 800px) {
    .person__photo {
        width: 121.6px;
        height: 166.4px;
       
    }
    
}