.wrapper {
	display: block;
	padding: 0;
	margin: 50px auto 0;
	width: 450px;
}

.container__person {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	flex-wrap: wrap;
	background-color: rgba(99, 97, 97, 0.673);
	gap: 5px 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	text-decoration: none;
}

.container__person:hover {
	box-shadow: 0 0 8px var(--theme-default-header);
}

.person__number {
	padding: 0 0 0 5px;
	margin: 0;
	color: var(--color-white);
	text-shadow: var(--text-shadow-black);
	font-size: 20px;
	font-weight: 600;
	flex-basis: 30px;
}

.person__image {
	width: 70px;
	height: 96.25px;
	border-radius: 5px;
	object-fit: cover;
	object-position: center center;
}

.person__data {
	display: flex;
}

.person__name {
	width: 200px;
	color: var(--color-white);
	font-weight: 700;
	text-shadow: var(--text-shadow-black);
}

.person__views {
	color: var(--color-white);
	text-shadow: var(--text-shadow-black);
	font-weight: 600;
}
.container__person:first-child {
	background-color: rgba(255, 215, 0, 0.8);
}

.container__person:nth-of-type(2) {
	background-color: rgba(192, 192, 192, 0.8);
}

.container__person:nth-of-type(3) {
	background-color: rgba(205, 128, 50, 0.8);
}

@media (max-width: 510px) {
	.wrapper {
		width: 80%;
	}

	.container__person {
		padding: 10px 0px;
		flex-direction: column;
        align-items: center;
	}

	.person__name {
		display: block;
		text-align: center;
		justify-content: space-around;
        width: 100%;
       padding: 0 5px;
	}
}
